#contenedor{
    margin: 0 auto;
    width: 955px;
    height: auto;
}

.contact_form ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}

.asunto {
    width: 300px;
}

.error {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: trebuchet, verdana, arial, sans-serif;
}
.tperror0 {
    background-color: #124556;
    color: #FFFFFF;
}

.tperror1, .tperror2, .tperror3 {
    background-color: #905050;
    color: #FFFFFF;
}